body{
	background-color: #eee;
}

h2{
	font-size: 15;
	font-family: sans-serif;
	color: #454545;
	font-weight: 10px;
	text-align: center;
}

h3{
	text-align: center;

}

p{
	text-align: center;

}
p.activities{
	text-align: justify;

}

img{
	text-align: center;
}

ul{
	list-style-type:none;
	margin: 0;
	padding: 0;
}


li {
  font:20px/1.5 Helvetica,sans-serif;
  border-bottom: 1px solid #ccc;
}



li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
li a:hover {
  font-size: 30px;
  background: #f6f6f6;
}


div {
  margin: 20px;
}